@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --Figtree: "Figtree", sans-serif;
}

body {
    background-color: var(--Yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Figtree);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    min-width: 327px;
    max-width: 384px;
    max-height: 522px;
    margin: 20px;
    padding: 20px;
    background-color: var(--White);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 7px;
    animation: lower 1s ease;
}

.illustration__img {
    max-width: 100%;
    width: 384px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content__state {
    background-color: var(--Yellow);
    width: 73px;
    height: 26px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 4px;
    align-content: center;
    color: var(--Gray-950);
}

.content__date {
    font-size: 12px;
    font-weight: 500;
    color: var(--Gray-950);
}

.content__title {
    width: 70%;
    font-size: 20px;
    font-weight: 800;
    color: var(--Gray-950);
    transition: .5s;
}

.content__title:hover {
    cursor: pointer;
    color: var(--Yellow);
    transition: .5s;
}

.content__paragraph {
    line-height: 150%;
    font-size: 16px;
    color: var(--Gray-500);
    font-weight: 500;
}

.content--avatar {
    flex-direction: row;
    align-items: center;
    font-weight: 800;
}

.content__img {
    width: 32px;
}

.content__name {
    font-size: 14px;
}

@media (max-width: 375px) {

    .content__paragraph {
        font-size: 14px;
    }

}

@keyframes lower {

    0% {

        translate: 0 -200%;

    }

    90% {
        translate: 0 15%;
    }

    100% {

        translate: 0;

    }

}